<div class="row">
	<div class="small-4 columns">
		<p>Edit Item Information</p>
		<%= form_for @listitem, url: { method: :patch } do |f| %>
			<%= f.text_field :budget_item %>
			<%= f.text_field :budget_amount %>
			<%= f.submit "Update Item", :class => "small button success radius" %>
		<% end %>
	</div>
</div>

