	<% if signed_in? %>
		<div class="row">
			<div class="small-2 columns">
				<h3>Expense</h3>
			</div>
			<div class="small-2 columns">
				<h3>Amount</h3>
			</div><br>
		</div>

		<div class="row">
		<% @listitem.each do |item| %>
			<div class="small-3 columns">
				<%= link_to item.budget_item, listitem_path(item), action: 
				:update %>
			</div>
			<div class="small-3 columns">
				<%= item.budget_amount %>
			</div><br>
		<% end %>
		</div>

		<div class="row"><br>
			<div class="total"></div>
			<div class="small-2 columns">
				<h5>Total</h5>
			</div>
			<div class="small-2 columns">
				<h5><%= @total %></h5>
			</div><br>
		</div>
	<% end %>

