div.container {
	height: auto;
	width: auto;
}

.homepage-list-items {
	border: .2em;
	border-color: slategrey;
	border-style: outset;
}

.total {
	border-top: 1px solid black;
	margin-left: 10px;
	width: 300px;
}

.items {
	text-align: center;
}

.input-fields-without-submit-remember-me {
	height: 30px;
}

div.form {
	float:left;
	padding: 20px;
}



