div.container {
	height: auto;
	width: auto;
}

.homepage-list-items {
	max-width: 500px;
	border: .2em;
	border-color: slategrey;
	border-style: outset;
}

.total {
	border-top: 1px solid black;
	margin-left: 10px;
	width: 300px;
}

.items {
	text-align: center;
}



